<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!--<localRepository>C:\Users\dipakrai\.m2\repository</localRepository>-->

    <pluginGroups>
        <!-- Nothing is present now-->
    </pluginGroups>

    <proxies>
        <!-- Nothing is present now-->
    </proxies>

  <servers>
    <server>
      <username>admin</username>
      <password>Bagbahra@123</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>Bagbahra@123</password>
      <id>snapshots</id>
    </server>
  </servers>

  <profiles>
    <profile>
    <id>artifadeploymentRepoctory</id>
    <activation>
            <activeByDefault>true</activeByDefault>
    </activation>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://54.91.12.119:8081/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://54.91.12.119:8081/artifactory/libs-snapshot</url>
        </repository>
      </repositories>

    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
